
@model ELT.WEB.Models.Menu
<div id="tabs">
    <div class="rightDiv">
        <ul>
            <li>
                 <img src="@Url.Content("~/Images/button_logout_type.gif")" onclick="logOut()"
                    name="logout" width="54" height="18" id="logout" onmouseout="this.src='@Url.Content("~/Images/button_logout_type.gif")'"
                    onmouseover="this.src='@Url.Content("~/Images/button_logout_type_over.gif")'"
                    style="margin-right: 30px; margin-top: 3px; cursor: pointer; border: none 0px"
                    alt="Click to logout" />
            </li>
        </ul>
    </div>
    <div class="leftDiv">

        <ul>

            <li class="CurSiteAdminDiv" ><a href="@Url.Content("~/SiteAdmin/")"><span>Site Admin
            </span></a></li>

            <li class="CurMasterDataDiv"><a href="@Url.Content("~/MasterData/")" class=""><span>Master Data
            </span></a></li>

            <li class="CurPre-shipmentDiv"><a href="@Url.Content("~/PreShipment/PickupOrder")" class=""><span>Pre-shipment
            </span></a></li>

            <li class="CurAirExportDiv"><a href="@Url.Content("~/AirExport/")" ><span>Air Export
            </span></a></li>

            <li class="CurOceanExportDiv"><a href="@Url.Content("~/OceanExport/")" class=""><span>Ocean Export
            </span></a></li>

            <li class="CurAirImportDiv"><a href="@Url.Content("~/AirImport/")" class=""><span>Air Import
            </span></a></li>

            <li class="CurOceanImportDiv"><a href="@Url.Content("~/OceanImport/")" class=""><span>Ocean Import
            </span></a></li>

            <li class="CurReportDiv"><a href="@Url.Content("~/Report/")" class=""><span>Report
            </span></a></li>

        </ul>
    </div>
</div>
  @Html.Action("MainMenu", "Menu")


