
@model APDisputeMasterModel
@{
    ViewBag.Title = "APDispute";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}

@using ELT.WEB.Models
@using ELT.CDT
@using ELT.WEB.Controllers


<hgroup>
    <h1 class="pageheader">@ViewBag.Title</h1>
</hgroup>
<script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>

@using (Html.BeginForm("APDispute", "Accounting", FormMethod.Post, new { Operation = "APDispute" }))
{


    <table>
        <tr>
            <td></td>
            <td colspan="2" style="text-align:right">
                @foreach (string typeName in GridViewExportHelper.ExportTypes.Keys)
                {
                    <input type="submit" name="@typeName" value="@GridViewExportHelper.ExportTypes[typeName].Title" />
                    <text>&nbsp;</text>
                    //http://localhost/Report/AirExport
                }

                <input type="button" name="ReSelect" value="Go Back to Search" onclick="RedirectParentTo('@Url.Content("~/Accounting/APDispute")')" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left">
                <br />
                Period: @Model.PeriodBegin ~ @Model.PeriodEnd
                <br />

                @if (Model.VendorName != "")
                {
                    <Text>Vendor: @Model.VendorName </Text>
                }

            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.Partial("_APDispute/_APDisputeMaster", Model)
            </td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
    </table>
    
    

    
}















