@model ExpenseReportMasterModel
@{
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}

@using ELT.WEB.Models
@using ELT.CDT
@using ELT.WEB.Controllers


<hgroup>
    <h1 class="pageheader">@ViewBag.Title</h1>
</hgroup>


@using (Html.BeginForm("Expenses", "Accounting", FormMethod.Post, new { Operation = "Expenses" }))
{

    <table>
        <tr>
            <td></td>
            <td colspan="2" style="text-align:right">
                @foreach (string typeName in GridViewExportHelper.ExportTypes.Keys)
                {
                    <input type="submit" name="@typeName" value="@GridViewExportHelper.ExportTypes[typeName].Title" />
                    <text>&nbsp;</text>
                    //http://localhost/Report/AirExport
                }

                <input type="button" name="ReSelect" value="Go Back to Search" onclick="RedirectParentTo('@Url.Content("~/Accounting/Expenses/parm=expns")')" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left">
                <br />
                Period: @Model.PeriodBegin ~ @Model.PeriodEnd
                <br />

            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.Partial("_Expenses/_ExpensesMasterPartial", Model.ExpenseItems)
            </td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
    </table>
    
    

   
}
