<link href="@Url.Content("~/Content/css/tab_accounting_account_payable.css")" rel="stylesheet" type="text/css" />
<div id="AccountPayableDiv" style="overflow: hidden; height: 28px; position: relative;
    left: 0px; width: 100%">
    <div id="divMore" style="cursor: pointer; height: 28px; position: absolute; z-index: 1;
        width: 20px"> </div>
    <ul id="AccountPayableUL" style="position: absolute; margin-left: -57px; left: 0px;">
        <li id="PayableQueue"><a class="noLeft" 
            href="@Url.Content("~/Accounting/PayableQueue")" >
            <span>Payables Queue </span></a>
        </li>
         <li id="BillPay"><a class="noLeft" 
            href="@Url.Content("~/Accounting/BillPay")" >
            <span>Bill Pay </span></a></li>
         <li id="WriteCheck"><a class="noLeft" 
            href="@Url.Content("~/Accounting/WriteCheck")" >
            <span>Write Checks </span></a>
        </li>
         <li id="PrintCheck"><a class="noLeft" 
            href="@Url.Content("~/Accounting/PrintCheck")" >
            <span>Print Checks </span></a>
        </li>
         <li id="APAging"><a class="noLeft" 
            href="@Url.Content("~/Accounting/APAging")" >
            <span>A/P Aging </span>
        </a></li>
         <li id="APDetail"><a class="noLeft" 
            href="@Url.Content("~/Accounting/APDetail/parm=apdet")" >
            <span>A/P Detail</span></a></li>
         <li id="APDispute"><a class="noLeft" 
            href="@Url.Content("~/Accounting/APDispute")" >
            <span>A/P Dispute</span></a></li>
    </ul>
   
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //reset menu
        var submenues = $("#AccountPayableUL>li");
        submenues.each(function (index) {
            $(this).removeClass("selected");

        });

        //detect the name of view
        var currUrl = $(location).attr('href');
        var parts = currUrl.split("/");
        var currView = parts[4];

        if (currView != "")
            $("#" + currView + ">a").addClass("selected");

        // $(".CurAirExportDiv").attr("id", "CurAirExportDiv");
    });
</script>