@model ELT.CDT.HouseBillItem
<tr><td style="border: 1px solid">@Html.DisplayTextFor(m=>m.BillNo)</td><td style="border: 1px solid">@Html.DisplayTextFor(m=>m.Units)</td><td style="border: 1px solid">@Html.DisplayTextFor(m => m.Weight)</td><td style="border: 1px solid">@Html.DisplayTextFor(m => m.CollectAmount)</td><td  style="border: 1px solid">@Html.DisplayTextFor(m => m.PickupDate)</td></tr>

